@model GameApp.Web.Models.ViewModels.Collections.HomeGamesViewModel
@{
    ViewData["Title"] = "Home Page";

}

@* Game App Home Page *@
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            @if (!User.Identity.IsAuthenticated)
            {
                <h1 class="display-3"> Welcome!</h1>
            }
            else
            {
                <h1 class="display-3"> Welcome, @User.Identity.Name!</h1>
                
            }
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
        </header>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row text-center">


                @foreach (var game in Model.Games)
                {
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card h-100">
                            <img class="card-img-top" src="@game.GamePoster" alt="">
                            <div class="card-body">
                                <h4 class="card-title">@game.GameName</h4>
                                <p class="card-text">@game.GameDescription</p>
                                @*@foreach (var genre in @game.Genres)
                                {
                                    <h1>@genre.Tag</h1>
                                }*@
                            </div>
                            <div class="card-footer">
                                <a asp-controller="Game" asp-action="Details" asp-route-id="@game.Id" class="btn btn-primary">Find Out More!</a>
                            </div>  
                        </div>
                    </div>
                }
            </div>
        }
       
    </div>

