@model GameApp.Web.Models.ViewModels.Game.GameDetailViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <div class="card badge-dark">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h1 class="text-center">@Model.GameTitle</h1>
                        <div class="row">
                            <div class="text-center">
                               <h1 class="small">@Model.GameDescription</h1>
                            </div>

                        </div>
                        <h1 class="text-left small">Game release Date:</h1>
                        <p>@(Model.GameReleaseDate.Value.ToString("yyyy MMMM dd"))</p>
                        <h1 class="text-left small">Game popular tags </h1>
                        <p>@string.Join(", ",@Model.Genres.Select(c => c.Tag))</p>
                    </div>
                    <div class="col-md-8">
                      
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">

                                <div class="carousel-item active">
                                    <img class="d-block w-100" src=@Model.PosterUrl>
                                </div>
                                @foreach (var image in @Model.Images)
                                {
                                    <div class="carousel-item">
                                        <img class="d-block w-100" src="@image.URL">
                                    </div>
                                }
                              

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
